{% load staticfiles %}

<html>
    <head>
        <title>Diane's Polls</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    </head>

    <body>
        <h1>Polls to Answer</h1>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
            <p>Sad face.</p>
        {% endif %}
    </body>
</html>
